@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,*::before,*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --font-stack: "DM Sans", sans-serif;
}
body {
    font-family: var(--font-stack);
    font-size: 1.1rem;
    margin: 0;
    background-color: whitesmoke;
}   
.highlighter {
    color: hsl(39, 100%, 71%);
}
img {
    max-width: 100%;
}
.star__img {
    width: 70%;
}
.box__content {
    margin: 1em 0;
}
.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}
.box__title--1 {
    font-weight: 600;
    font-size: 2rem;
}
/* Margin top for mobile users*/
.box__container {
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    padding: 1em 1.5em;
    color: white;
    border-radius: 1em;
    margin-top: 1.75em;
}
.box__p {
    font-size: 1rem;
    font-weight: 300;
}
.box__title--2 {
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    text-align: left;
}
.white-vs {
    background-color: white;
    padding: .25em 1em;
}
.yellow--vs {
    background-color: hsl(39, 100%, 71%);
    padding: .1em 1em 0 1em;
}
.schedule__img {
    display: flex;
    width: 70%;
    margin-top: .5em;
}
.purpl--vs {
    background-color: hsl(254, 88%, 90%);
    padding: .1em 1em .5em 1em;
}
.purpl--vs .box__title--2,
.purpl--vs .box__p {
    margin: 1em 0;
    color: black;
    text-align: center;
}
.white__title--vs {
    color: white;
    text-align: center;
    margin-top: 1em;
}
.left__align {
    text-align: left;
    line-height: 1.6;
    color: black;
}
.highlighter__purple {
    color: hsl(256, 67%, 59%);
}
.light__yellow {
    background-color: hsl(31, 66%, 93%);
}
.spacing {
    padding-bottom: .15em;
}
@media (min-width: 30em) {
    .box__title--1 {
        font-size: 3rem;
    }
    .box__title--2 {
        font-size: 1.25rem;
    }
    .container {
        width: 100%;
    }
    .box__container {
        margin: 0;
        height: 100%;
    }
    .testimonial {
        padding: 0;
    }
    .testimonial__grid {
        display: grid;
        gap: 1em;
        width: min(95%, 70rem);
        margin-inline: auto;
        grid-template-columns: repeat(4, 1fr);
    }
    .testimonial:nth-child(7) {
        grid-column-start: 1;
        grid-row: 1 / span 2;
    }
    .testimonial:first-child {
        grid-column: span 2;
    }
    .testimonial:nth-child(4) {
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }
    .testimonial:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
    }
    .testimonial:nth-child(5) {
        grid-column: span 2;
    }
    .box__container {
        display: flex;
        flex-direction: column;
    }
    .testimonial:nth-child(8) {
        grid-column-start: 1;
        grid-row: 3 / span 2;
    }

}
